* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checkbox-styled {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: #383A40;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox-styled.checked {
  background-image: url(../resources/Check.svg);
}
.checkbox-styled input {
  display: none;
}

.text-question {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .text-question {
    font-size: 13px;
  }
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 16px;
  max-width: 433px;
}
.title-content .icon-timer {
  width: 68px;
  height: 70px;
  margin-bottom: 8px;
}
.title-content .title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(90deg, #00FFF0 2.05%, #71BBFF 44.17%, #A056FF 87.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 576px) {
  .title-content .icon-timer {
    margin-top: 24px;
  }
  .title-content .title {
    font-size: 24px;
    margin: 0 16px;
  }
}

.calc-area {
  background: #252525;
  color: #bdbdbd;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.0941176471);
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-width: 530px;
}
@media screen and (max-width: 576px) {
  .calc-area {
    padding: 16px;
    background: none;
    box-shadow: none;
  }
}
.calc-area > div {
  margin: 24px 0;
}
.calc-area .carga-hor .input-content {
  display: flex;
  margin-top: 8px;
}
.calc-area .carga-hor .input-content label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  cursor: pointer;
}
.calc-area .autocomplete-content {
  display: flex;
  align-items: center;
}
.calc-area .autocomplete-content label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.calc-area .horarios .inputs-horarios {
  display: flex;
}
@media screen and (max-width: 576px) {
  .calc-area .horarios .inputs-horarios {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10%;
    grid-row-gap: 0px;
    justify-content: center;
  }
  .calc-area .horarios .inputs-horarios .input-timer::after {
    content: initial !important;
  }
}
.calc-area .horarios .inputs-horarios label {
  font-size: 14px;
}
.calc-area .horarios .inputs-horarios .input-timer {
  display: flex;
}
.calc-area .horarios .inputs-horarios .input-timer input {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .calc-area .horarios .inputs-horarios .input-timer input {
    width: 100%;
    max-width: 100%;
  }
}
.calc-area .horarios .inputs-horarios .input-timer::after {
  content: ".";
  color: #fff;
  display: block;
  line-height: 50%;
  font-size: 30px;
  margin: 0 8px;
}
.calc-area .horarios .inputs-horarios .input-timer.last::after {
  content: initial;
}
.calc-area .checkbox-banco {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.calc-area .checkbox-banco label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.calc-area .meu-banco-horas {
  position: relative;
  height: 0;
  transition: all 0.5s linear;
  overflow: hidden;
}
.calc-area .meu-banco-horas .saldo-usuario {
  display: flex;
  flex-direction: column;
}
.calc-area .meu-banco-horas .saldo-usuario input {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  max-width: 70px;
  text-align: center;
  margin-top: 8px;
}
.calc-area .meu-banco-horas .saldo-mais-menos {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 15px;
  letter-spacing: 1px;
}
.calc-area .meu-banco-horas .saldo-mais-menos.mais {
  color: #00FF85;
}
.calc-area .meu-banco-horas .saldo-mais-menos.menos {
  color: #FF003D;
}
.calc-area .meu-banco-horas .saldo-calculado {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.calc-area .meu-banco-horas .saldo-calculado .saldo-resultado {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  max-width: 70px;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}
.calc-area .resultadoTotalHoras {
  background: #a961ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  border-radius: 4px;
  font-weight: 600;
  margin: 32px auto 0;
}/*# sourceMappingURL=style.css.map */