$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

:root {
    --bg-color: #F8F9FA;
    --bg-modal: #E9ECEF;
    --bg-gradient-title: #A056FF;
    --input-color: #DEE2E6;
    --text-principal: #000;
    --text-secundario: #343A40;
}

html[data-theme='dark'] {
    --bg-color: #1e1e1e;
    --bg-modal: #252525;
    --bg-gradient-title: linear-gradient(90deg, #00FFF0 2.05%, #71BBFF 44.17%, #A056FF 87.91%);
    --input-color: #383A40;
    --text-principal: #fff;
    --text-secundario: #bdbdbd;

    .checkbox-styled.checked {
        background-image: url(../resources/Check.svg);
    }

    .gb-logo {
        filter: invert(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.checkbox-styled {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: var(--input-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear;

    &.checked {
        background-image: url(../resources/Check_light.svg);
    }

    input {
        display: none;
    }
}

.text-question {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-principal);
    transition: color 0.3s linear;

    @media screen and (max-width: $small) {
        font-size: 13px;
    }
}

.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 16px;
    max-width: 433px;

    .icon-timer {
        width: 68px;
        height: 70px;
        margin-bottom: 8px;
    }

    .title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        background: var(--bg-gradient-title);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: background-color 0.3s linear;

    }

    @media screen and (max-width: $small) {
        .icon-timer {
            margin-top: 24px;
        }

        .title {
            font-size: 24px;
            margin: 0 16px;
        }
    }
}

.calc-area {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--bg-modal);
    color: var(--text-secundario);
    padding: 32px;
    gap: 24px;
    border-radius: 8px;
    max-width: fit-content;
    max-width: 530px;
    transition: all 0.3s linear;

    @media screen and (max-width: $small) {
        padding: 16px;
        background: none;
        box-shadow: none;
    }

    .gb-logo {
        background: url(../resources/gb-logo.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 24px;
        left: 24px;
        transition: all 0.3s linear;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .carga-hor {
        .input-content {
            display: flex;
            margin-top: 8px;

            label {
                font-size: 14px;
                margin: 0 16px 0 8px;
                cursor: pointer;
            }
        }
    }

    .autocomplete-content {
        display: flex;
        align-items: center;
        
        label {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }

    .horarios {
        .inputs-horarios {
            display: flex;

            @media screen and (max-width: $small) {
                display: grid;
                grid-template-columns: repeat(2, 40%);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 10%;
                grid-row-gap: 0px;
                justify-content: center;

                .input-timer::after {
                    content: initial !important;
                }
            }

            label {
                font-size: 14px;
            }

            .input-timer {
                display: flex;

                input {
                    background: var(--input-color);
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    padding: 8px;
                    color: var(--text-principal);
                    width: 100%;
                    text-align: center;
                    transition: all 0.3s linear;

                    @media screen and (max-width: $small) {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                
                &::after {
                    content: ".";
                    color: var(--text-principal);
                    display: block;
                    line-height: 50%;
                    font-size: 30px;
                    margin: 0 8px;
                    transition: color 0.3s linear;

                    
                }

                &.last::after {
                    content: initial;
                }
            }
        }
    }

    .checkbox-banco {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        label {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }

    .meu-banco-horas {
        position: relative;
        height: 0;
        transition: all 0.5s linear;
        overflow: hidden;


        .saldo-usuario {
            display: flex;
            flex-direction: column;

            input {
                background: var(--input-color);
                border: none;
                outline: none;
                border-radius: 4px;
                padding: 8px;
                color: var(--text-principal);
                max-width: 70px;
                text-align: center;
                margin-top: 8px;
                transition: all 0.3s linear;
            }
        }

        .saldo-mais-menos {
            position: absolute;
            top: 35px;
            left: 80px;
            font-size: 15px;
            letter-spacing: 1px;
            display: none;

            &.mais {
                color: #00FF85;
            }

            &.menos {
                color: #FF003D;
            }
        }

        .saldo-calculado {
            display: flex;
            flex-direction: column;
            margin-top: 16px;

            .saldo-resultado {
                background: var(--input-color);
                border: none;
                outline: none;
                border-radius: 4px;
                padding: 8px;
                color: var(--text-principal);
                max-width: 70px;
                text-align: center;
                font-size: 13px;
                margin-top: 8px;
                transition: all 0.3s linear;
            }
        }
    }

    .resultadoTotalHoras {
        background: #a961ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 45px;
        border-radius: 4px;
        font-weight: 600;
        margin: 32px auto 0;
    }
}

//dark-theme

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    position: absolute;
    top: 24px;
    right: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

html[data-theme='dark'] {
    .slider {
      background-color: #303136;
    }
    
    .slider:before {
      left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
      background: #303136;
      box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }
}