* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.checkbox-styled {
  width: 20px;
  height: 20px;
  background: #383A40;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox-styled.checked {
  background-image: url(../resources/Check.svg);
}
.checkbox-styled input {
  display: none;
}

.text-question {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 16px;
  max-width: 433px;
}
.title-content .icon-timer {
  width: 116px;
  height: 136px;
  margin-bottom: 8px;
}
.title-content .title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  background: linear-gradient(90deg, #00FFF0 2.05%, #71BBFF 44.17%, #A056FF 87.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.calc-area {
  background: #252525;
  color: #bdbdbd;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.0941176471);
}
.calc-area > div {
  margin: 16px 0;
}
.calc-area .carga-hor .input-content {
  display: flex;
  margin-top: 8px;
}
.calc-area .carga-hor .input-content label {
  font-size: 14px;
  margin: 0 8px;
  cursor: pointer;
}
.calc-area .autocomplete-content {
  display: flex;
  align-items: center;
}
.calc-area .autocomplete-content label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.calc-area .horarios .inputs-horarios {
  display: flex;
}
.calc-area .horarios .inputs-horarios label {
  font-size: 14px;
}
.calc-area .horarios .inputs-horarios .input-timer {
  display: flex;
}
.calc-area .horarios .inputs-horarios .input-timer input {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  max-width: 70px;
  text-align: center;
}
.calc-area .horarios .inputs-horarios .input-timer::after {
  content: ".";
  color: #fff;
  display: block;
  line-height: 50%;
  font-size: 30px;
  margin: 0 8px;
}
.calc-area .horarios .inputs-horarios .input-timer.last::after {
  content: initial;
}
.calc-area .checkbox-banco {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.calc-area .checkbox-banco label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.calc-area .meu-banco-horas {
  position: relative;
  height: 0;
  transition: all 0.5s linear;
  overflow: hidden;
}
.calc-area .meu-banco-horas .saldo-usuario {
  display: flex;
  flex-direction: column;
}
.calc-area .meu-banco-horas .saldo-usuario input {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  max-width: 70px;
  text-align: center;
  margin-top: 8px;
}
.calc-area .meu-banco-horas .saldo-mais-menos {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 15px;
  letter-spacing: 1px;
}
.calc-area .meu-banco-horas .saldo-mais-menos.mais {
  color: #00FF85;
}
.calc-area .meu-banco-horas .saldo-mais-menos.menos {
  color: #FF003D;
}
.calc-area .meu-banco-horas .saldo-calculado {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.calc-area .meu-banco-horas .saldo-calculado .saldo-resultado {
  background: #383a40;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  max-width: 70px;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}/*# sourceMappingURL=style.css.map */