* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.checkbox-styled {
    width: 20px;
    height: 20px;
    background: #383A40;
    border-radius: 4px;
    cursor: pointer;

    &.checked {
        background-image: url(../resources/Check.svg);
    }

    input {
        display: none;
    }
}

.text-question {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 16px;
    max-width: 433px;

    .icon-timer {
        width: 116px;
        height: 136px;
        margin-bottom: 8px;
    }

    .title {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        background: linear-gradient(90deg, #00FFF0 2.05%, #71BBFF 44.17%, #A056FF 87.91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.calc-area {
    background: #252525;
    color: #bdbdbd;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px #00000018;

    > div {
        margin: 16px 0;
    }

    .carga-hor {
        .input-content {
            display: flex;
            margin-top: 8px;

            label {
                font-size: 14px;
                margin: 0 8px;
                cursor: pointer;
            }
        }
    }

    .autocomplete-content {
        display: flex;
        align-items: center;
        
        label {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }

    .horarios {
        .inputs-horarios {
            display: flex;

            label {
                font-size: 14px;
            }

            .input-timer {
                display: flex;

                input {
                    background: #383a40;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    padding: 8px;
                    color: #fff;
                    max-width: 70px;
                    text-align: center;
                }
                
                &::after {
                    content: ".";
                    color: #fff;
                    display: block;
                    line-height: 50%;
                    font-size: 30px;
                    margin: 0 8px;
                }

                &.last::after {
                    content: initial;
                }
            }
        }
    }

    .checkbox-banco {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        label {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }

    .meu-banco-horas {
        position: relative;
        height: 0;
        transition: all 0.5s linear;
        overflow: hidden;


        .saldo-usuario {
            display: flex;
            flex-direction: column;

            input {
                background: #383a40;
                border: none;
                outline: none;
                border-radius: 4px;
                padding: 8px;
                color: #fff;
                max-width: 70px;
                text-align: center;
                margin-top: 8px;
            }
        }

        .saldo-mais-menos {
            position: absolute;
            top: 35px;
            left: 80px;
            font-size: 15px;
            letter-spacing: 1px;

            &.mais {
                color: #00FF85;
            }

            &.menos {
                color: #FF003D;
            }
        }

        .saldo-calculado {
            display: flex;
            flex-direction: column;
            margin-top: 16px;

            .saldo-resultado {
                background: #383a40;
                border: none;
                outline: none;
                border-radius: 4px;
                padding: 8px;
                color: #fff;
                max-width: 70px;
                text-align: center;
                font-size: 13px;
                margin-top: 8px;
            }
        }
    }
}